.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #474747;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.footer-info {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
}

.footer__page-developer,
.footer__mail-developer,
.footer__country-developer {
  margin: 0;
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Sriracha', cursive;
}

.footer:hover {
  opacity: 1;
}
