<div class="create-item">
    <p class="create-item__title">Enter your task</p>
    <input class="create-item__input-title" name="title" type="text" value="" placeholder="put your title...">
    <textarea class="create-item__input-description" name="description" type="text" value=""
        placeholder="put your description..." maxlength="150"></textarea>
    <div class="create-item__priority-group">
        <input type="radio" name="priority" id="priorityLOW" value="low" checked>
        <label for="priorityLOW">low</label>
        <input type="radio" name="priority" id="priorityNORMAL" value="normal">
        <label for="priorityNORMAL">normal</label>
        <input type="radio" name="priority" id="priorityHIGH" value="high">
        <label for="priorityHIGH">high</label>
    </div>
    <button type="submit" class="create-item__button" data-action="createTask">add to list</button>
</div>